# Entorno virtual
venv/
.env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store

# Archivos no relevantes
*.png
*.keras
*.h5
*.txt

# Excepción: La carpeta de resultados
!resultados_finales/
!resultados_finales/**/
!resultados_finales/**/*.png
!resultados_finales/**/*.txt

2.3.\ alice_bob_eve\ (alfa\ =\ 0)
2.4.\ alice_bob_eve\ (cifrados)/
2.5.\ alice_bob_eve\ (texto\ plano)/
2.6.\ alice_bob_mallory\ (clave)/
jupyter/.ipynb_checkpoints/

and_or_xor.py
graphs.py